@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../eot/font.eot');
    src: url('../eot/font.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../woff2/IRANSansWeb\(FaNum\).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../woff/font.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../ttf/font.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 600;
    src: url('../eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}